[Desktop Entry]
Type=Application
Version=1.5
Name=PdfViewerLite
GenericName=PDF Viewer
Comment=Fast, tabbed PDF viewer
Exec=pdfviewerlite %U
TryExec=pdfviewerlite
Icon=net.glennwatson.PdfViewerLite
Terminal=false
StartupNotify=true
StartupWMClass=pdfviewerlite
SingleMainWindow=true
Categories=Office;Viewer;Graphics;
MimeType=application/pdf;application/x-pdf;application/x-bzpdf;application/x-gzpdf;
Keywords=pdf;document;viewer;reader;tabs;
Actions=new-instance;

[Desktop Action new-instance]
Name=New Window
Exec=pdfviewerlite --new-instance
